.firstName{
   height: 5vh;
   width: 25vw;
   margin-bottom: 2vh;
}
.lastName{
   height: 5vh;
   width: 25vw;
   margin-bottom: 2vh;
}
.formrows{
   position: absolute;
   left: 38%;
   top: 20%;
   margin: 0 auto;
}
.btnWrapp:hover{
   cursor: pointer;
   background: rgba(0, 0, 0, .7);
   border-color: rgba(0, 0, 0, .7);
}